.moderation-form {
	.form-group {
		margin-bottom: 0;
	}
	.form-item {
		margin-bottom: 15px;
	}
	.form-item.form-type-checkbox,
	.form-item.form-type-radio {
		&:first-child {
			margin-top: 0;
		}
	}
	.form-control {
		border: 1px solid #ccc !important;
	}

	.control-label:not(.option),
	.panel-title {
		font-size: 14px;
		font-weight: bold;
	}

	// Inherit paragraph styles
	@import "../../vb_paragraphs/css/admin/form/alert";
	@import "../../vb_paragraphs/css/admin/form/fields";
	@import "../../vb_paragraphs/css/admin/form/form-group";
	@import "../../vb_paragraphs/css/admin/form/form-item";
	@import "../../vb_paragraphs/css/admin/form/iconpicker";
	@import "../../vb_paragraphs/css/admin/form/multiple-table";

	// Content moderation specific stuff
	@import "form/*";
}