.panel {
	background: transparent;
	box-shadow: none;
	border: none;

	& > .panel-heading {
		border: none !important;
		border-radius: 0 !important;
		margin-bottom: 10px;

		a.panel-title {
			color: #000 !important;
			background: #ededed !important;
			padding: 10px !important;
		}
	}
	& > .panel-body {
		padding: 0;
	}
}