.vertical-tabs {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;

	&-panes {
		flex: auto;
	}

	&-list {
		flex: 200px 0 0;
		align-self: flex-start;
		position: sticky;
		top: 15px;

		& > li {
			float: none;
			display: block;

			& > a {
				background: $color-grey !important;
			}
			&.active > a {
				background: $color-primary !important;
				color: #fff !important;
			}
		}

		.summary {
			color: #000;
			text-transform: none;
			font-size: 12px;
			font-weight: normal;
		}
		.active {
			.summary {
				color: #fff;
			}
		}
	}
}