.block-local-tasks-block {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 10001;

	.container {
		padding: 0;
	}

	.nav-tabs {
		& > li {
			& > a {
				background: #fff !important;
				color: #000 !important;
				height: 35px !important;
			}
		}
	}
}