.modal {
	&[id*="entitynodeedit-form"] {
		width: 90% !important;
	}
	// Some modals shouldn't be so high
	&[id*="entitynodereplicate"],
	&[id*="entitynodedelete"],
	&.content-moderation {
		height: auto !important;
		top: 50% !important;
		transform: translate(-50%, -50%) !important;

		.modal-dialog,
		.modal-content,
		.modal-body {
			height: auto !important;
		}
	}

	&-body {
		& > form {
			& > .form-actions {
				display: none;
			}
		}
	}
}