.moderation {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 15px 10px 15px 30px;
	background: #fff;
	display: flex;
	z-index: 9999;
	background: $color-primary;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	color: #fff;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 8px solid $color-primary;
		pointer-events: none;

		.adminimal-admin-toolbar & {
			top: 79px;
		}
	}

	&--live {
		background: $color-success;

		&:after {
			border-color: $color-success;
		}
	}

	&__info {

	}
	&__help {
		margin-left: 5px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: #000;
		font-weight: bold;
		font-size: 12px;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		border-radius: 99px;

		&:hover {
			text-decoration: none;
			color: $color-primary;
			background: #fff;
		}
	}
	&__links {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
	}

	&__link {
		margin-left: 20px;

		a {
			text-decoration: underline;
			color: #fff;
		}
		&--save-draft {
			a {
				color: #fff;
				background: $color-success !important;
				font-weight: bold;
				padding: 10px 20px;
				text-decoration: none;
				height: 35px !important;

				&:hover {
					color: #fff;
					background: darken($color-success, 10%) !important;
					text-decoration: none;
				}
			}
		}
	}

	.modal {
		color: #000;
		height: auto !important;
		min-width: 520px !important;
		width: 520px;

		&-dialog,
		&-content {
			height: auto !important;
		}
		&-title {
			display: inline;

			.clise {
				margin-top: 0;
			}
		}
		&-body {
			height: calc(100% - 127px);
		}
	}
	// &:before {
	// 	content: 'Draft mode';
	// 	text-transform: uppercase !important;
	// 	font-weight: bold !important;
	// 	letter-spacing: 0 !important;
	// 	line-height: 1.4 !important;
	// 	font-family: Arial, sans-serif !important;
	// 	font-size: 12px !important;
	// 	padding: 5px 8px;
	// 	background: $color-primary;
	// 	color: #fff !important;
	// 	position: fixed;
	// 	top: 0px;
	// 	left: 0px;

	// 	.adminimal-admin-toolbar & {
	// 		top: 79px;
	// 	}
	// }
}