.is-unpublished.full:not(.has-draft) {
	&:after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 8px solid $color-danger;
		pointer-events: none;
		z-index: 12;
		display: block;

		.adminimal-admin-toolbar & {
			top: 79px;
		}
	}
	&:before {
		content: 'Unpublished';
		text-transform: uppercase !important;
		font-weight: bold !important;
		letter-spacing: 0 !important;
		line-height: 1.4 !important;
		font-family: Arial, sans-serif !important;
		font-size: 12px !important;
		padding: 5px 8px;
		background: $color-danger;
		color: #fff !important;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 13;

		.adminimal-admin-toolbar & {
			top: 79px;
		}
	}
}