<div class="moderation moderation--live">
	<div class="moderation__info">{{ 'You are watching the live version lorem ipsum' }}</div>
	<a href="#" class="moderation__help">?</a>

	<ul class="moderation__links">
		<li class="moderation__link moderation__link--return">
			<a href="{{ return_link }}">{{ 'Return to draft'|t }}</a>
		</li>
	</ul>
</div>