<div class="moderation">
	<div class="moderation__info">{{ 'This page is in draft mode lorem ipsum' }}</div>
	<a href="#" class="moderation__help">?</a>

	<ul class="moderation__links">
		{% if not has_only_draft %}
			<li class="moderation__link moderation__link--view-live">
				<a href="{{ live_link }}">{{ 'View original'|t }}</a>
			</li>
			<li class="moderation__link moderation__link--delete-draft">
				<a href="{{ delete_link }}">{{ 'Reset changes'|t }}</a>
			</li>
		{% endif %}
		<li class="moderation__link moderation__link--save-draft">
			<a href="{{ publish_link }}">{{ 'Publish draft'|t }}</a>
		</li>
	</ul>
</div>